@charset "UTF-8";
/* CSS Document */


/* GENERAL*/

  .white-bg {
	  background:#fff;
  }
  

/* BODY */

  body {
	  background: #f5f5f5;
	  font-family: 'Source Sans Pro', sans-serif;
	  padding-top: 0;
  }


/* TOP NAVIGATION */

  .navbar-default {
	  background: rgba(250, 250, 250, .95);
	  margin-bottom: 0; 
  }
  
  #top-navigation {
	  text-transform: uppercase;
  }
   
  #top-navigation .navbar-nav > li {
	  border-top: 3px solid rgba(0, 0, 0, 0);
  }
  
  #top-navigation .navbar-nav > li.active {
	  background: #fff;
	  border-top: 3px solid #ba5959;
  }
  
  #top-navigation .navbar-nav > li:hover, #top-navigation .navbar-nav > li:focus {
	  background: #fff;
	  border-top: 3px solid #999;
  }
  
  #top-navigation .navbar-default  .navbar-nav > li.active a, #top-navigation .navbar-default.navbar-default  .navbar-nav > li.active a:hover {
	  background: none;
  }


/* TOP NAVIGATION - COLLAPSE BUTTON */  

  .navbar-toggle {
	  background: #9a1e1e;
  }
  
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: #8b1515;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFFFFF;
  }
  




/* HIGHLIGHT SECTION */

  #highlight .jumbotron {
	  background: url("../template-images/campusgroups-highlight-bg.jpg") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	  color:#fff;
	  height: 600px;
	  padding: 60px 0 50px 0;
	  width: 100%;
  }
  
  .jumbotron h1 {
	  font-weight: 600;
	  letter-spacing:-1px;
	  line-height: 55px;
	  margin-bottom: 0;
  }
  
  .jumbotron a {
	  color: #fff;
  }
  
  .jumbotron .subhead {
	   font-size: 18px;
	   line-height: 1em;
	   margin-top: 0;
	   text-transform:uppercase;
  }
  
  .jumbotron h1, .jumbotron .subhead {
	  position: relative;
	  z-index:10;
  }
  
  .branding {
	  background: url("../template-images/campusgroups-branding.png");
	  float: left;
	  height: 294px;
	  position: relative;
	  margin-top: -165px;
	  margin-left: -185px;
	  width: 272px;
  }


/* HIGHLIGHT LOGIN */

  .logged-in {
	  margin-top: 35px;
  }
  
  .logged-in-group {
	  background: url("../template-images/campusgroups-login-groups-bg.png");
	  background-repeat: no-repeat;
	  float: left;
	  font-size: 12px;
	  height: 70px;
	  line-height: 14px;
	  padding-top: 20px;
	  padding-right: 8px;
	  margin-right: 10px;
	  margin-top: -15px;
	  width: 80px; 
	  text-align: center;
	  text-transform: uppercase;
  }
  
  .logged-in-group-number {
	  font-size: 40px;
  }
  
  .member-name {
	  font-size: 24px;
	  font-weight: 600;
	  line-height: 22px;
  }
  
  .logged-in .glyphicon {
	  float: left;
      font-size: 28px;
      margin-right: 7px;
      margin-top: 5px;
  }

/* MAIN-TOP SECTION */

  #main-top {
	  clear: both;
	  positon: relative;
	  margin-top: -500px;
  }
  
  
/* MAIN-TOP SECTION - BREADCRUMB */  

  .breadcrumb {
	  background: none;
	  font-weight: 400;
	  margin-bottom: 0; 
	  padding: 22px 15px 8px; 
  }
  
  .breadcrumb > li + li:before {
	color: #eeeeee;
    content: "| ";
    padding: 0 5px;
  }
  
  .breadcrumb a, .breadcrumb > .active {
	  color:#fff;
	  opacity: .8;
	  text-shadow: 1px 1px 1px #333;
	  text-transform:uppercase;
  }
  
  .breadcrumb > .active {
	  color:#fff;
	  font-weight: 600;
	  opacity: 1;
  }
  
  
/* MAIN-TOP SECTION - SEARCH */

  .form-control {
	  border-radius: 0;
	  border:none;
	  float: right;
  }
  
  #main-top .btn {
	  background: #bc3a3a;
	  border-radius: 0;
	  border:none;
	  color: #fff;
	  float: right;
	  height: 34px;
	  text-transform: uppercase;
  }
  
  #main-top .btn:hover {
	  background: #b02f2f;
  }
  
  #main-top .glyphicon {
	  color: #999;
	  margin-right: -20px;
	  top: 9px;
  }
  
  #main-top .form-group input {
	  padding-left: 25px;
  }

/* MAIN SECTION */

  #main {
	  positon: relative;
	  margin-top: -500px;
  }
  
  #main .content-header {
	  background: #882224;
	  color:#fff;
	  clear: both;
	  padding: 30px 5%;
  }
  
  .content-header h2 {
	  font-size: 40px;
	  text-transform: uppercase;
  }
  
  .content-main {
	  background: #fff;
	  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.16);
	  padding: 30px 5%;
  }


/* MAIN SECTION - SIDEBAR */  
  
  #sidebar .content-header {
	  background: #882224;
	  color:#fff;
	  clear: both;
	  padding: 30px 5%;
  }
  
  #sidebar .list-group-item:first-child, #sidebar .list-group-item:last-child {
	  border-radius: 0;
  }
  
  .list-group {
	  padding-top: 4px;
  }
  
  .list-group-item {
      background-color: #FFFFFF;
      border: none;
	  border-left: 6px solid #fff;
	  text-transform: uppercase;
  }
  
  .list-group-item:hover {
	  border-left: 6px solid #999;
	  font-weight: bold;
  }
  
  .list-group-item:first-child {
	  margin-top: 0;
  }
  
  a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
      background: #fff;
	  border: none;
      border-left: 6px solid #882224;
      color: #555;
	  font-weight: 600;
   }
   
   .left-navigation {
	   box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
   }
   
   .sidebar-block {
	  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
	  color: #fff;
	  padding: 10px 5%;
  }
  
  .help.sidebar-block {
	  background: #bc3a3a;
  }
  
  .sidebar-block .glyphicon {
	    color: #FFFFFF;
        float: left;
        font-size: 20px;
        margin-bottom: -10px;
        margin-right: 10px;
   }
  
  

/* FOOTER SECTION */

  #footer {
	  background: #fff;
	  margin-top: 100px;
	  min-height: 50px;
	  text-align: center;
  }
  
  .bottom-navigation {
	  display: inline-block;
  }
  
  .bottom-navigation ul {
	  display: inline;
	  margin-bottom:15px;
	  margin-top:15px;
  }
  
  .bottom-navigation .navbar-nav > li > a  {
	  color: #999;
	  border-radius: 5px;
	  padding-bottom: 5px;
	  padding-top: 5px;
  }
  
  .bottom-navigation .nav > li > a:hover, .bottom-navigation .nav > li > a:focus {
	  font-weight: 600;
  }
  
  img.footer-crest {
	  position: relative;
	  margin-top: -60px;
  }


/* GENERAL  */

  a:hover {
	  text-decoration: none;
  }

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
}


/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) { 
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    /* top: 0; */
	top: 185px;
    width: 50%; /* 6 columns */
  }
  
  #main, #main-top {
	  margin-top: -150px;
  }
  
  .bottom-navigation .nav > li {
	  display: inline-block;
  }
  
  #highlight .jumbotron {
	  height: 400px;
  }
}


