@charset "UTF-8";
/* CSS Document */


/* DOCUMENT STRUCTURE */
/*
# GLOBAL STYLES
# CONTENT SECTIONS
## BANNER 
## HEADER 
## HIGHLIGHT
## TOOLBAR
## CONTENT 
### CONTENT MAIN 
### CONTENT SIDEBAR
## FOOTER
# GENERAL STYLES
# BOOTSTRAP OVERRIDES
# RESPONSIVE CODE
*/



/* # GLOBAL STYLES*/

  body {
	  background: #f5f5f5;
	  font-family: 'Source Sans Pro', sans-serif;
	  padding-top: 0;
  }
  
  html, body {
  	overflow-x: hidden; /* Prevent scroll on narrow devices */
  }
  
  a, a:hover {
	  color:#882224;
	  text-decoration: none;
  }
  


/* # CONTENT SECTIONS */

/* ## BANNER SECTION*/

	#portal-banner {
		background: #580202;
		border-bottom: 1px solid #b29d6c;
		color:#C5B17E;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px;
		height: 46px;
	}
	
	#portal-banner a {
		color:#fff;
		font-weight: 600;
	}
	
	.portal-login {
		padding-top: 12px;
	}
	
	#portal-banner .btn {
		background: #9e7a7b; /* Old browsers */
		background: -moz-linear-gradient(top,  #9e7a7b 0%, #6a2021 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e7a7b), color-stop(100%,#6a2021)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #9e7a7b 0%,#6a2021 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #9e7a7b 0%,#6a2021 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #9e7a7b 0%,#6a2021 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #9e7a7b 0%,#6a2021 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e7a7b', endColorstr='#6a2021',GradientType=0 ); /* IE6-9 */
		border: none;
		border-radius: 0;
		color:#e8e3d4;
		font-size: .9em;
		margin-left: 10px;
		padding: 3px 12px;
	}
	
	#portal-banner .btn:hover {
		background: #6a2021; /* Old browsers */
		background: -moz-linear-gradient(top,  #6a2021 0%, #9e7a7b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a2021), color-stop(100%,#9e7a7b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6a2021 0%,#9e7a7b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6a2021 0%,#9e7a7b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6a2021 0%,#9e7a7b 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6a2021 0%,#9e7a7b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a2021', endColorstr='#9e7a7b',GradientType=0 ); /* IE6-9 */
	}
	
	

/* ## HEADER SECTION - BRANDING */

  .navbar-header h1 {
	  color:#111;
	  font-size:40px;
	  font-weight: 600;
	  letter-spacing:2px;
	  line-height: 40px;
	  margin-bottom: 0;
	  margin-top: 0;
	  padding: 12px 0;
	  text-transform: uppercase;
  }
  
  .navbar-header small {
	   color: #c7c7c7;
	   font-size: 13.5px;
	   letter-spacing:1px;
	   line-height: 13.5px;
	   margin-top: 0;
  }
  
  .navbar-header h1, .navbar-header small {
	  display: block;
	  position: relative;
	  z-index:10;
	  
  }

 
/* ## HEADER SECTION - NAVIGATION */

  .navbar-default {
	  background: rgba(250, 250, 250, .95);
	  margin-bottom: 0; 
  }
  
  #top-navigation {
	  font-size: 17px;
	  text-transform: uppercase;
  }
   
  #top-navigation .navbar-nav > li {
	  border-top: 4px solid rgba(0, 0, 0, 0);
  }
  
  #top-navigation .navbar-nav > li.active {
	  background: #fff;
	  border-top: 4px solid #ba5959;
  }
  
  #top-navigation .navbar-nav > li:hover, #top-navigation .navbar-nav > li:focus {
	  background: #fff;
	  border-top: 4px solid #999;
  }
  
  #top-navigation .navbar-default  .navbar-nav > li.active a, #top-navigation .navbar-default.navbar-default  .navbar-nav > li.active a:hover {
	  background: none;
  }
  
  #top-navigation .navbar-nav > li a {
	  background: #f6f6f6;
  	  padding-bottom: 27px;
      padding-top: 27px;
  }


/* ## HEADER SECTION - NAVIGATION - TOP AFFIX */

  #nav.affix {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
  }

/* ## HEADER SECTION -  NAVIGATION - COLLAPSE BUTTON */  

  .navbar-toggle {
	  background: #9a1e1e;
	  color:#fff;
  }
  
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	  background-color: #8b1515;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
      background-color: #FFFFFF;
  }
  

/* ## HIGHLIGHT SECTION */

  #highlight .jumbotron {
	  background: url("../template-images/campusgroups-highlight-bg.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	  color:#fff;
	  height: 450px;
	  padding-top: 60px;
	  padding-bottom: 50px;
	  width: 100%;
  }
  
  .branding {
	  background: url("../template-images/campusgroups-branding.png");
	  float: left;
	  height: 294px;
	  position: relative;
	  margin-top: -165px;
	  margin-left: -185px;
	  width: 272px;
  }




/* ## TOOLBAR SECTION */

  #toolbar {
	  clear: both;
	  positon: relative;
	  margin-top: -500px;
  }
  
  #toolbar .glyphicon {
	  color:#fff;
  }
  
  #toolbar .btn {
	  background: #bc3a3a;
	  border-radius: 0;
	  border:none;
	  color: #fff;
	  float: left;
	  height: 34px;
	  text-transform: uppercase;
  }
  
  #toolbar .btn:hover {
	  background: #b02f2f;
  }
  
  .btn-search, .btn-breadcrumb {
	  display: none;
  }
  
  
/* ## TOOLBAR SECTION - BREADCRUMB */  

  .breadcrumb {
	  background: none;
	  font-weight: 400;
	  margin-bottom: 0; 
	  padding: 22px 15px 8px; 
  }
  
  .breadcrumb > li + li:before {
	color: #eeeeee;
    content: "| ";
    padding: 0 5px;
  }
  
  .breadcrumb a, .breadcrumb > .active {
	  color:#fff;
	  opacity: .8;
	  text-shadow: 1px 1px 1px #333;
	  text-transform:uppercase;
  }
  
  .breadcrumb > .active {
	  color:#fff;
	  font-weight: 600;
	  opacity: 1;
  }
  


/* ## CONTENT SECTION */

  #content {
	  positon: relative;
  }

/* ## CONTENT SECTION - MAIN */
  #content-main { 
  }


/* ## CONTENT SECTION - HEADER */


  .block.content-header {
	  background: #882224;
	  color:#fff;
	  clear: both;
	  padding-top: 30px;
	  padding-bottom: 30px;
  }
  
  .content-header h2 {
	  font-size: 50px;
	  margin-bottom: 0;
	  margin-top: 0;
	  text-transform: uppercase;
  }
  

/* ## CONTENT SECTION - SUBHEADER*/  

  .block.content-subheader {
	  background: #a52427;
	  color:#fff;
	  clear: both;
	  /*padding-top: 10px;
	  padding-top: 10px;*/
  }
  
/* ## CONTENT SECTION - SUBHEADER STEPS*/
  .content-subheader ul {
	 margin-bottom: 0;
  }
  
  .content-subheader .create-steps li {
	  width: 33%;
  }
  
  .content-subheader .create-steps a {
	  color:#882224; 
	  font-size: 20px;
	  text-transform: uppercase;
  }
  
  .content-subheader .create-steps .active a {
	  color:#fff;
  }
  
  /*.content-subheader .create-steps li:after{ 
   content: '\f0da';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
   }*/
  
  

/* ## CONTENT SECTION - BODY*/

  

/* ## CONTENT SECTION - FOOTER*/  
  

/* ## CONTENT SECTION - SIDEBAR */  
  
  #content-sidebar .content-header {
	  background: #882224;
	  color:#fff;
	  clear: both;
	  padding-top: 15px;
	  padding-bottom: 15px;
  }
  
  #content-sidebar .content-header h3 {
	  margin-top: 10px;
	  margin-bottom: 10px;
  }
  
  #content-sidebar .list-group-item:first-child, #content-sidebar .list-group-item:last-child {
	  border-radius: 0;
  }
  
  .list-group {
	  padding-top: 4px;
  }
  
  .list-group-item {
      background-color: #FFFFFF;
      border: none;
	  border-left: 6px solid #fff;
	  text-transform: uppercase;
  }
  
  .list-group-item:hover {
	  border-left: 6px solid #999;
	  font-weight: bold;
  }
  
  .list-group-item:first-child {
	  margin-top: 0;
  }
  
  a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
      background: #fff;
	  border: none;
      border-left: 6px solid #882224;
      color: #555;
	  font-weight: 600;
   }
   
   .left-navigation {
   }
   
   
   .block.ad {
	   padding-top: 20px;
	   padding-bottom: 20px;
   }
  
  .help {
	  background: #bc3a3a;
	  color:#fff;
	  font-size: 15px;
  }
  
  .add {  
	  background: #d34242;
	  color:#fff;
	  font-size: 17px;
	  text-transform: uppercase;
  }

  
/* ## CONTENT SECTION - MAIN - MY GROUPS */ 

	.group-list thead {
		background: #A52427;
		color:#fff;
		text-transform: uppercase;
	}
	
	.group-list table > thead > tr > th{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.block.group-list {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
	
	.group-list th:first-child, .group-list td:first-child  {
		padding-left: 20px;
	}
	
	.group-list .table > tbody > tr > td {
		vertical-align: middle;
	}


/* ## CONTENT SECTION - MAIN - CREATE A GROUP */  

  .content-tabs .tab-content{
	  background: #efefef;
	  margin-bottom: 20px;
	  min-height: 200px;
  }
  
   .content-tabs .block.nav {
	   padding-bottom: 0;
   }
  
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	   background: #efefef;
  }
  
  .nav-tabs > li > a {
	  background: #faf8f8;
	  border-bottom: 0;
  }
  
  .content-tabs .nav-tabs {
	  font-size:20px;
	  font-weight: 400;
	  text-transform: uppercase;
  }
  
  
/* ## CONTENT SECTION - HELP */  
    
	.help-tabs .tab-content {
		padding-top: 40px;
	}
	
	.help-tabs .panel {
		border-radius: 0;
	}
	
	.help-tabs .panel-heading {
		background: #fff;
		color:#bc3a3a;
		padding: 20px 15px;
		text-transform:uppercase;
	}
	
	.help-tabs .nav-tabs > li {
	  text-align: center;
	  width: 25%;
    }
	
	.panel-group .panel-heading + .panel-collapse .panel-body {
    	border-top: 1px solid #EFEFEF;
	}
	
	.help-tabs .panel-title .glyphicon {
		margin-right: 5px;
	}

/* ## FOOTER SECTION */

  footer {
	  background: #fff;
	  margin-top: 100px;
	  min-height: 50px;
	  text-align: center;
  }
  
  .bottom-navigation {
	  display: inline-block;
  }
  
  .bottom-navigation ul {
	  display: inline;
	  margin-bottom:15px;
	  margin-top:15px;
  }
  
  .bottom-navigation .navbar-nav > li > a  {
	  color: #999;
	  border-radius: 5px;
	  padding-bottom: 5px;
	  padding-top: 5px;
  }
  
  .bottom-navigation .nav > li > a:hover, .bottom-navigation .nav > li > a:focus {
	  font-weight: 600;
  }
  
  img.footer-crest {
	  position: relative;
	  margin-top: -60px;
	  max-width: 100px;
  }
  
  
/* ## MODALS */ 
     .modal-content {
		 border-radius: 0;
	 }
	 
	 .modal-body {
    	background: #EFEFEF;
     }
	 
	  .modal-header {
       border-bottom: none;
     }
	 
	 .modal-header h4 {
		 font-size: 24px;
		 text-transform: uppercase;
	 }
	 
	 .modal-header-close { 
		 background:#A52427;
		 display: block;
		 height: 40px;
		 width:100%;
	 }
	 
	 .modal-header-close button{ 
	   color:#fff;
	 }
	 
	 .modal-footer {
		 margin-top: 0;
	 }
	 
	


/* # GENERAL  */

  
  .white-bg {
	  background: #fff;
  }
  
  .white-bg-shadow {
	  background: #fff;
	  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.16); 
  }
  
   .grey-bg {
	   background: none repeat scroll 0 0 #EFEFEF;
   }
  
  
/* # GENERAL - CONTENT STRUCTURE */ 

  .block {
	  padding: 15px 5%;
  }
  
  .ad {
	  margin-top: 15px;
  }
  
  .ad .glyphicon {
	    color: #FFFFFF;
        float: left;
        font-size: 20px;
        margin-bottom: -10px;
        margin-right: 10px;
   }
   
   .margin-top {
	   margin-top: 15px;
   }
   
   .no-padding {
	   padding: 0!;
   }


/* # GENERAL - BUTTON */ 

   .btn-lg, .btn-group-lg > .btn {
      padding: 10px 28px;
	}
  
   .btn-bc-red, .btn-grey, .btn-dark-grey {
	   border-radius: 2px;
	   border: none;
	   box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
	   	 -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
	     -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
	   color:#fff;
	   text-transform: uppercase;
   }
   
   .btn-bc-red:hover, .btn-grey:hover, .btn-dark-grey:hover {
       box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.50);
	   	 -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.50);
	     -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.50);
	   color:#fff;   
   }
   
   .btn-bc-red {
	   background-color: #BC3A3A; 
   }
   
   .btn-bc-red:hover {
	   background-color: #ab2c2c;
   }
   
   .btn-grey {
	   background-color: #d7d5d5;
   }
   
   .btn-grey:hover {
	   background-color: #c9c7c7;
   }
   
   .btn-dark-grey {
	   background-color: #a2a1a1;
   }
   
   .btn-dark-grey:hover {
	   background-color: #908f8f;
   }
   
   .btn-form-select {
	   margin: 20px;
   }
   
   .btn-no-style {
	   background: none;
	   border: 0;
	    color:#882224;
   }
   
   #clear-search.btn {
	   font-size: 18px;
	   text-transform:uppercase;
   }
   
/* # GENERAL - ERROR MESSAGES */    
   .bg-message {
	    padding: 10px;
   }

/* # GENERAL ACCESSIBILITY */
  
  .skip-navigation {
      .sr-only();
   }

/* # GENERAL - TABLES */ 

  .table > tbody > tr > td, .table > tbody > tr > th{
	  border-color: #f9f9f9;
	  color:#666;
	  padding: 14px;
  }


/* # GENERAL - FORMS */ 

  .form-control {
	  border-radius: 0;
  }

  .bc-form label{
	  color:#666;
	  font-size: 18px;
	  font-weight:400;
	  text-transform: uppercase;
	  vertical-align: middle;
  }
  
  .bc-form label small {
	  font-size: .8em;
	  font-style: italic;
	  text-transform: lowercase;
  }
 
  .bc-form {
	  font-size: 16px;
  }
  
  /*.bc-form {
	  margin-top: 40px;
  }*/
  
  .bc-form .form-control {
	  display: inline-block;
	  margin-bottom: 10px;
  }
  
  .bc-form.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  
  .bc-form input, .bc-form select{
	  background: #f7f7f7;
  }
  
  .help-block {
	  color:#bfbcbc;
  }
  
  .form-control.bc-prefix{
	  width: auto;
  }
  
  .form-control.bc-display-name, .form-control.bc-group-name {
	  max-width: 500px;
  }
  
  .bc-form .glyphicon.glyphicon-question-sign{
	  color:#d34141;
	  font-size: 24px;
	  margin-left: 8px;
  }
  
  .bc-form  .glyphicon.glyphicon-search {
    color: #999999;
    margin-right: -30px;
  }

  .bc-form .form-group.search input {
    padding-left: 35px;
  }
  
  .form-control::-moz-placeholder {
    color: #dbdada;
	font-size: 16px;
	font-style: italic;
    opacity: 1;
   }
   
   .bc-form .white-bg h5 {
	  color: #676566;
	  font-size: 22px;
	  padding-left: 20px;
	  text-transform: uppercase;
	  
   }

/* # FORMAT INSTRUCTIONS */
  .format-instructions h5 {
	  color: #676566;
	  font-size: 18px;
	  text-transform: uppercase;
  }
  
  .format-instructions ul {
	  color: #676566;
  }
  
  .format-instructions {
	  margin-top:25px;
	  margin-bottom: 25px;
  }

/* # BOOTSTRAP OVERRIDES */
  
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	  border: 0 none;
  }
 


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
}


/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (min-width: 767px) {
 #breadcrumb-container.collapse {
	  display:block;
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) { 
  #top-navigation .navbar-nav > li a {
	  padding: 27px 10px;
  }
  
}

@media screen and (max-width: 767px) {
	
  #content-main.col-xs-12, #toolbar .col-xs-12 {
	  padding-left: 0;
	  padding-right: 0;
  }
  
  #top-navigation .navbar-nav > li {
	  border-top: 0;
      border-left: 4px solid rgba(0, 0, 0, 0);
  }
 
  #top-navigation .navbar-nav > li:hover, #top-navigation .navbar-nav > li:focus {
      border-top: 0;
	  border-left: 4px solid #999;
  }

  #top-navigation .navbar-nav > li.active {
	  border-top: 0;
	  border-left: 4px solid #BA5959;
  }
  
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
	/* top: 185px; */
    width: 50%; /* 6 columns */
  }
  
  #toolbar {
	  /*margin-top: -150px;*/
	  margin-top: -80px;
  }
  
  #content {
	  margin-top: 0px;
  }
  
  
  .bottom-navigation .nav > li {
	  display: inline-block;
  }
  
  #highlight .jumbotron {
	  height: 100px;
  }
  
  #toolbar .btn-search, #toolbar .btn-breadcrumb {
	  display: block;
	  height: 50px;
	  /*width: 50px;*/
  }
   
  .btn-search .glyphicon, .btn-breadcrumb .glyphicon {
	  font-size: 22px;
	  padding-top: 7px;
  }
  
  .row-offcanvas .btn-xs {
	  margin-top: 20px;
  }
  
  #breadcrumb-container, #search-container {
	  background: #B02F2F;
	  padding: 10px 5%;
	  width: 100%;
	  clear: both;
  }
  
  #toolbar .btn-breadcrumb.active, #toolbar .btn-search.active {
	  background: #B02F2F;
  }
  
  #toolbar .col-sm-6{
	  padding: 0;
	  margin: 0;
  }
  
  .breadcrumb {
	  padding: 0;
  }
  
  #nav.affix {
    position: relative;
  }
  
  .navbar-header h1 {
	  display: inline;
	  float: left;
  }
  
  .navbar-header small {
	  display: block;
  }
 
}

@media screen and (max-width: 500px) {
	
	.portal-login-user {
		display: none;
	}
	
	.navbar-header h1 small {
		display: none;
	}
	
	.navbar-header h1 {
		font-size: 23px;
		letter-spacing: 0;
	}
	
	.navbar-toggle { 
		margin-right: 0;
	}

 
}

@media screen and (max-width: 400px) {
  
}


